# Default ignored files
/../../TreeHeightExperiment /.idea/shelf/
/../../TreeHeightExperiment /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../TreeHeightExperiment /.idea/httpRequests/
# Datasource local storage ignored files
/../../TreeHeightExperiment /.idea/dataSources/
/../../TreeHeightExperiment /.idea/dataSources.local.xml
